* {
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
}

.small_menu_bar {
  width: 100%;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}

.small_menu_container {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 35px;
  cursor: pointer;
}






.realtruck_logo {
  margin-left: 5vw;
  height: 5vmax;
  cursor: pointer;
}



.top_right_bar {
  float: right;
  position: absolute;
  top: 2vmax;
  right: 0;
  width: 60%;
}





.shopping_cart {
	float: right;
	margin-right: 6vw;
	height: 100%;
	cursor: pointer;
}

.sales_number {
	float: right;
	height: 100%;
	cursor: pointer;
}

.search_bar {
	border: 0;
	float: right;
	height: 100%;
  width: 30%;
	background-color: #DFDFDF;
  padding: 10px;
}

.search_bar:focus {
  outline: 0;
}

.magnifying_glass {
	float: right;
  height: 36px;
	cursor: pointer;
}


















.truck_img_container {
  display: inline-block;
  position: relative;
  margin-left: 4.0vw;
}

.truck {
	width: 90vw;
}

.yellow_box {
  cursor: default;
  position: absolute;
  left: 1vw;
  bottom: 2vh;
  background: rgba(238, 188, 47, 0.9);
	width: auto;
	height: 13vh;
  font-size: 17px;
      font-size: 2.5vmin;
  padding-right: 8vw;
}

.yellow_box h5 a {
	cursor: pointer;
	color: gray;
	margin-left: 1vw;
}

.yellow_box h1 {
	color: white;
	margin-left: 1vw;
	margin-top: -4vh;
}

.white_box {
  display: none;
  cursor: default;
  width: 100%;
  height: 10vh;
  font-size: 15px;
}

.white_box h5 a {
  cursor: pointer;
  color: gray;
  margin-left: 1vw;
}

.white_box h2 {
  margin-left: 1vw;
  margin-top: -3vh;
}

.show_bar_container {
  display: inline-block;
  position: relative;
  margin-left: 4.0vw;
}

.show_bar {
  width: 90vw;
  margin: 0 auto;
  height: 6vh;
  line-height: 6vh;
  font-size: 15px;
  background-color: lightgray;
  font-weight: bold;
  color: #404040;
  margin-top: -0.5vh;
}

.show_bar_left {
  float: left;
  margin-left: 1vw;
}

.show_bar_right {
  float: right;
  margin-right: 1vw;
}

.show_bar_right select {
  margin-right: 0.5vw;
}

.show_bar_right_sort {
  display: none;
  float: right;
  margin-right: 8vw;
}

.nav_container {
  display: inline-block;
  position: relative;
  margin-left: 4.0vw;
}

ul {
	  width: 90vw;
	  height: 8vh;
    margin: 0 auto;
    padding: 0 1vw 0 1vw;
    overflow: hidden;
    background-color: #111111;
    display: table;
  	text-align: center;
}

li {
	  font-size: larger;
	  cursor: pointer;
    color: white;
  	vertical-align: middle;
  	display: table-cell;
  	width: 8%;
    text-align: left;
    padding-left: 2%;
}

li:hover {
    background-color: #333333;
}

ul li ul {
    padding-top: 5%;
    display: none;
    width: 20vw;
	  height: auto;
    min-height: 160px;
    margin-left: -6vw;
  	text-align: left;
  	vertical-align: bottom;
  	cursor: default;
	  background: #333333 url("../assets/dropdown_wheel.png") no-repeat bottom right;  
}

ul li:hover ul {
    display: block;
    position: absolute;
    z-index: 1;
}

ul li ul li {
    color: white;
}

ul li ul li:hover {
    background: none;
}

ul li ul li a {
    font-size: 3vmin;
    color: white;
    text-decoration: none;
    display: block;
    float: left;
    width: 22vw;
    margin: -1vw 0vw -1vw -3vw;
    padding: 1vw 0vw 1vw 3vw;

}

ul li ul li a:hover {
    background-color: #111111;
    opacity: 0.7;
}

.hide_from {
  display: none;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  height: auto;
  width: 90%;
  margin: 0 auto;
}

/*
.box {
  outline: 2px solid dodgerblue;
  outline-offset: -2px;
}
*/

.wheel { 
  width: 100%;
  height: auto;
}

.wheel_big_text {
  font-size: x-large;
  margin-left: 5%;
  font-weight: bold;
}

.wheel_medium_text {
  font-weight: bold;
  font-size: x-large;
}

.wheel_small_text {
  margin-left: 5%;
  vertical-align: super;
  font-size: medium;
}

footer {
  clear: both;
  height: 11vh;
  width: 90vw;
  margin: 0 auto;
  background-color: #333333;
  color: white;
  min-height: 50px;
}

.footer_text {
	float: left;
  margin-left: 4vw;
  width: 100%;
}

hr {
  height: 2vh;
  background-color: orange;
  border: 0;
}

.footer_logo {
  float: right;
  margin-right: 4vw;
	height: 5.5vh;
	cursor: pointer;
  min-height: 20px;
  margin-top: -2vh;
}

.pagination {
  display: inline-block;
  float: right;
  margin-right: 5vw;
}

.pagination_number {
	height: 4vh;
  color: black;
  background-color: white;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  border: 1px solid #ddd;
}

.pagination_number.active {
  background-color: orange;
  color: white;
  border: 1px solid black;
}

.pagination_number:hover:not(.active) {
	border: 1px solid orange;
	background-color: lightgray;
}

.pagination_arrow {
	height: 4vh;
  color: black;
  background-color: white;
  float: left;
  padding: 4px 16px;
  text-decoration: none;
  border: 1px solid #ddd;
}

.pagination_arrow.active {
  background-color: orange;
  color: white;
  border: 1px solid black;
}

.pagination_arrow:hover:not(.active) {
	border: 1px solid orange;
	background-color: lightgray;
}



























@media all and (max-width: 320px) {

.white_box {
  clear: both;
  display: block;
  position: relative;
  font-size: 3vmax;
}

.pagination {
  display: block;
  float: none;
  display: table;
  margin: 0 auto;
  margin-top: 3vh;
  margin-bottom: 3vh;
  font-size: small;
}

.pagination_number {
  height: 4vh;
  color: black;
  background-color: white;
  float: left;
  padding: 4px 4px;
  text-decoration: none;
  border: 1px solid #ddd;
}

.pagination_number.active {
  background-color: orange;
  color: white;
  border: 1px solid black;
}

.pagination_number:hover:not(.active) {
  border: 1px solid orange;
  background-color: lightgray;
}

.pagination_arrow {
  height: 4vh;
  color: black;
  background-color: white;
  float: left;
  padding: 2px 4px;
  text-decoration: none;
  border: 1px solid #ddd;
}

.pagination_arrow.active {
  background-color: orange;
  color: white;
  border: 1px solid black;
}

.pagination_arrow:hover:not(.active) {
  border: 1px solid orange;
  background-color: lightgray;
}

.show_bar_container {
  width: 100%;
  margin-left: -1vw;
}

.show_bar {
  width: 100vw;
  font-size: 6vmin;
}

.show_bar_right {
  display: none;
}

.show_bar_right_sort {
  display: block;
}

.show_debri {
  display: none;
}

.small_menu_bar {
  width: 100%;
  height: 3px;
  background-color: black;
  margin: 4px 0;
}
.small_menu_container {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 21px;
  cursor: pointer;
}

.realtruck_logo {
  width: 100%;
  height: 8vh;
  cursor: pointer;
  z-index: 5;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 17px;
  right: 0;
  top: 0;
}

.truck_img_container {
  margin-top: 4vh;
  display: inline-block;
  position: relative;
  float: left;
  margin-left: -8px;
}

.truck {
  width: 100vw;
}

.wrapper {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  width: 100%;
}

.wheel {
  width: 50%;
  float: left;
}

.wheel_big_text {
  font-size: medium;
  font-weight: bold;
  font-size: 6vw;
}

.wheel_medium_text {
  font-weight: bold;
  font-size: medium;
  font-size: 6.5vw;
}

.wheel_small_text {
  vertical-align: super;
  font-size: x-small;
  font-size: 5vw;
}

.hide_from {
  display: block;
}

.yellow_box {
  display: none;
}

.shopping_cart {
  display: none;
}

.sales_number {
  display: none;
}

.search_bar {
  display: none;
}

.search_bar:focus {
  display: none;
}

.magnifying_glass {
  display: none;
}

ul {
  display: none;
}

footer {
  clear: both;
  width: 100vw;
  background-color: #333333;
  color: white;
  font-size: x-small;
}

.footer_text {
  float: left;
  margin-top: 0vh;
  margin-left: 4vw;
  width: 100%;
}

hr {
  height: 1vh;
  background-color: orange;
  border: 0;
}

.footer_logo {
  float: right;
  margin-right: 4vw;
  min-height: 20px;
}







}























@media all and (max-width: 400px) and (min-width: 320px){

.white_box {
  clear: both;
  display: block;
  position: relative;
  /*font-size: 17px;*/
  font-size: 3vmax;
}

.pagination {
  display: block;
  float: none;
  display: table;
  margin: 0 auto;
  margin-top: 3vh;
  margin-bottom: 3vh;
  font-size: small;
}

.pagination_number {
  height: 4vh;
  color: black;
  background-color: white;
  float: left;
  padding: 4px 6px;
  text-decoration: none;
  border: 1px solid #ddd;
}

.pagination_number.active {
  background-color: orange;
  color: white;
  border: 1px solid black;
}

.pagination_number:hover:not(.active) {
  border: 1px solid orange;
  background-color: lightgray;
}

.pagination_arrow {
  height: 4vh;
  color: black;
  background-color: white;
  float: left;
  padding: 2px 6px;
  text-decoration: none;
  border: 1px solid #ddd;
}

.pagination_arrow.active {
  background-color: orange;
  color: white;
  border: 1px solid black;
}

.pagination_arrow:hover:not(.active) {
  border: 1px solid orange;
  background-color: lightgray;
}

.small_menu_bar {
  width: 100%;
  height: 4px;
  background-color: black;
  margin: 5px 0;
}

.small_menu_container {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 28px;
  cursor: pointer;
}

.realtruck_logo {
  height: 8vh;
  cursor: pointer;
  z-index: 5;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 28px;
  right: 0;
  top: 0;
}

.truck_img_container {
  margin-top: 4vh;
  display: inline-block;
  position: relative;
  margin-left: 0vw;
  float: left;
  margin-left: -8px;
}

.truck {
  width: 100vw;
}

.yellow_box {
  display: none;
}

.shopping_cart {
  display: none;
}

.sales_number {
  display: none;
}

.search_bar {
  display: none;
}

.search_bar:focus {
  display: none;
}

.magnifying_glass {
  display: none;
}

ul {
  display: none;
}

.wrapper {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  width: 100%;
}

.wheel {
  width: 50%;
  float: left;
}

.wheel_big_text {
  font-size: medium;
  font-weight: bold;
  font-size: 6vw;
}

.wheel_medium_text {
  font-weight: bold;
  font-size: medium;
  font-size: 6.5vw;
}

.wheel_small_text {
  vertical-align: super;
  font-size: x-small;
  font-size: 5vw;
}

.hide_from {
  display: block;
}

footer {
  clear: both;
  width: 100vw;
  background-color: #333333;
  color: white;
  font-size: small;
}

.footer_text {
  float: left;
  margin-top: 0vh;
  margin-left: 5vw;
  width: 100%;
}

hr {
  height: 1vh;
  background-color: orange;
  border: 0;
}

.footer_logo {
  float: right;
  margin-right: 4vw;
  min-height: 20px;
}

.show_bar_container {
  width: 100%;
  margin-left: -1vw;
}

.show_bar {
  width: 100vw;
  font-size: 4.5vmin;
}

.show_bar_right {
  display: none;
}

.show_bar_right_sort {
  display: block;
}

.show_debri {
  display: none;
}














}






























@media all and (max-width: 800px) and (min-width: 400px){

.small_menu_bar {
  width: 100%;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}

.small_menu_container {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 35px;
  cursor: pointer;
}

.pagination {
  display: block;
  float: none;
  display: table;
  margin: 0 auto;
  margin-top: 3vh;
  margin-bottom: 3vh;
}

.pagination_number {
  height: 4vh;
  color: black;
  background-color: white;
  float: left;
  padding: 4px 8px;
  text-decoration: none;
  border: 1px solid #ddd;
}

.pagination_number.active {
  background-color: orange;
  color: white;
  border: 1px solid black;
}

.pagination_number:hover:not(.active) {
  border: 1px solid orange;
  background-color: lightgray;
}

.pagination_arrow {
  height: 4vh;
  color: black;
  background-color: white;
  float: left;
  padding: 2px 8px;
  text-decoration: none;
  border: 1px solid #ddd;
}

.pagination_arrow.active {
  background-color: orange;
  color: white;
  border: 1px solid black;
}

.pagination_arrow:hover:not(.active) {
  border: 1px solid orange;
  background-color: lightgray;
}

.realtruck_logo {
  height: 8vh;
  cursor: pointer;
  z-index: 5;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 0;
}

.shopping_cart {
  display: none;
}

.sales_number {
  display: none;
}

.search_bar {
  display: none;
}

.search_bar:focus {
  display: none;
}

.magnifying_glass {
  display: none;
}

ul {
  display: none;
}

.truck_img_container {
  margin-top: 5vh;
  display: inline-block;
  position: relative;
  margin-left: 0vw;
  float: left;
  margin-left: -8px;
}

.truck {
  width: 100vw;
}

.yellow_box {
  width: 100%;
  left: 0;
  bottom: 0;
  height: 10vh;
  font-size: 2.5vh;
}

.yellow_box h1 {
  margin-bottom: auto;
  color: black;
}
.yellow_box h5 {
  margin-top: 1vh;
}

.show_bar_container {
  width: 100%;
  margin-left: -1vw;
}

.show_bar {
  width: 100vw;
  font-size: 2.5vmin;
}

.show_bar_right {
  margin-right: 3vw;
}

.show_bar_right select {
  margin-right: 0.5vw;
  font-size: 2.5vmin;
}

.wrapper {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  width: 100%;
  max-height: 25%;
}

.wheel {
  width: 50%;
  float: left;
}

.wheel_big_text {
  font-size: large;
  font-size: 3vw;
  font-weight: bold;
}

.wheel_medium_text {
  font-weight: bold;
  font-size: large;
  font-size: 2.5vw;
}

.wheel_small_text {
  vertical-align: super;
  font-size: small;
  font-size: 2vw;
}

footer {
  clear: both;
  width: 100vw;
  background-color: #333333;
  color: white;
  font-size: medium;
}

.footer_text {
  float: left;
  margin-top: 0vh;
  margin-left: 5vw;
  width: 100%;
}

hr {
  height: 1vh;
  background-color: orange;
  border: 0;
}

.footer_logo {
  float: right;
  margin-right: 4vw;
  min-height: 20px;
}






}










@media all and (max-width: 530px) and (min-width: 400px){

  footer {
  clear: both;
  width: 100vw;
  background-color: #333333;
  color: white;
  font-size: small;
  }

}






@media all and (max-width: 925px){

  .shopping_cart {
    display: none;
  }
  
  .sales_number {
    display: none;
  }
  
  .search_bar {
    display: none;
  }
  
  .search_bar:focus {
    display: none;
  }
  
  .magnifying_glass {
    display: none;
  }

}





















@media all and (max-width: 1150px){

ul li {
    font-size: medium;
}

ul li ul {
    height: 22vh;
}

}
